.chained-quiz-action {
	padding-top: 20px;
	padding-bottom: 20px;
}

.chained-sidebox
{
	border:1px solid black;
	padding:10px;
	margin-bottom: 20px;
}

#chained-sidebar
{
	float:left;
	width:25%;
}

#chained-related, #chained-ad
{
	background-color: #BBEEDD;
}

.chained-form label {
	width: 150px;
	display: block;
	float: left;
}

textarea.chained-quiz-frontend {
	width: 100%;
}

/* Chained Quiz Configuration */

.chained-quiz-answer-textarea {
	margin-left: 1rem;
}

.chained-quiz-choice-columns {
	display: flex;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.chained-quiz-choice-options {
	padding-bottom: 1.5rem;
	padding-left: 1rem;
}

.image-preview-wrapper {
	display: flex;
}

#upload_image_button {
	margin-top: 1rem;
}